@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Dejlien! The only existing dejting website where you can find your intergalactic soulmate.</p>
<br />
<p>To be a part of this community, the only thing you need to do is to create an account. Then you will have full access to meet any other registered species! All the way from Milky Way to Tadpole Galaxy.</p>
