@model IEnumerable<DejlienApp.Models.Profile>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dejlien</h1>
    <p class="lead">We belive in long-distance love!</p>
    <p><a href='@Url.Action("About", "Home")' class="btn btn-primary btn-lg">Read more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        //if (Model.Count() < 7)
        {
            <div class="col-md-4">

                <h2>@Html.DisplayFor(modelitem => item.Name)</h2>
                <p>
                    @Html.DisplayFor(modelitem => item.Description)
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        }
    }

</div>