@model DejlienApp.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <p>Enter your email:</p>
    <div class="form-group">
        <div>
            @Html.TextBox("Textbox1", "exempel@mail.com")
        </div>
    </div>

    <p>Enter your password:</p>
    <div>
        @Html.TextBox("Password", "********")
    </div>
}

