@model DejlienApp.Models.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
    @Html.AntiForgeryToken()
<h2>Register</h2>
<p>Enter your email:</p>
<div class="form-group">
    @Html.LabelFor()
    <div>
@Html.TextBoxFor("Email", new { @class = "control-label" }) 
    </div>
</div>

<p>Enter your password;</p>
<div>
@Html.TextBoxFor("Password", new { @class = "form-control" })
    </div>