@model Data_LogicLayer.Models.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
<h2>Register</h2>
<p>Enter your email:</p>
<div class="form-group">
    <div>
@Html.TextBoxFor(model=>model.Email) 
    </div>
</div>

<p>Enter your password:</p>
<div>
@Html.TextBoxFor(model=>model.Password)
    </div>
    <br />
    <div>
        <p>Repeat password:</p>
        @Html.TextBox("Password", "********")
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-default" name="provider" value="Login">
            Register
        </button>
    </div>
}